*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    color:#000000;
    font-size: 90%;
}


.Page{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

p{
  font-size: 1em;
}

.lead-content {
    /* border: solid 3px;
    border-color: aliceblue; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}

.lead-content h1 {
  /* border: solid 3px; 
  border-color: aliceblue; */
  color: #2B84A2;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4em;
  opacity: 0; /* Définissez l'opacité initiale à 0 pour cacher le titre */
  transition: opacity 1s ease; 
   /* animation: flip 2s ease infinite; */
}
/* @keyframes flip { */
  /* 0% { */
    /* transform: rotateY(0deg); */
  /* } */
  /* 100% { */
    /* transform: rotateY(360deg); */
  /* } */
/* } */


h1.show {
  opacity: 1; /* Lorsque la classe .show est ajoutée, l'opacité est réglée à 1, ce qui fait apparaître le titre */
}



.lead-content h5 {
  color: #afaba8;
  /* border: solid 3px;
    border-color: aliceblue; */
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 30px;
}

.navbar {
    background-color: #463F3A;
    color: #E9EFF1;
	font-weight: bold;
    position: fixed;
	font-size: 1.1em;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: #E9EFF1;
    text-decoration: none;
}
.nav-links a:hover {
    color: #2B84A2;
}
.logo img {
    height: 50px;
}

.projet{
  background-color: #2B84A2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2%;
  padding-top: 1%;
  height: 150vh;
}


.items{
    /* border: solid 3px red; */
    /*border-color: pink;*/
    /* margin-top: 2%; */
    width: 80%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;  */
    justify-content: space-evenly;
}

.item{
    border-radius: 100px;
    margin: 10px 50px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    height: 5px;
    width: 5px;
}

.item:hover{
    border: solid 1px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
    transition: 0.6s;
    transform: scale(1.05)
}

h2{
  /* border: solid 3px; */
  /*border-color: aliceblue; */
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.about h2::after{
  display: flex;
  content: "";
  border: solid 1px;
  transform: rotate(180deg);
  margin: 5px 42%;
}

h2::after{
  display: flex;
  content: "";
  border: solid 1px;
  transform: rotate(180deg);
  margin: 5px 25%;
}

.map{
    border-radius: 50px;
    height: 300px;
    width: 300px;
}


.about{
    display: flex;
    flex-direction: row;
    background-color: #2B84A2;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
	
}

.Moi{
  text-align: center;
  flex-grow: 1;
}


.Moi-texte{
  /* border: solid 3px;
  border-color: aliceblue; */
  color: #373741;
  width: 65%;
  margin-right: 15%;
  font-size: 12px;
}

.accordion-body {
    text-align: justify; /* Justifie le texte à l'intérieur du corps de l'accordéon */
    text-justify: inter-word; /* Améliore la justification en ajustant l'espacement entre les mots */
}


.accordion-item{
	background-color: #2B84A2;
	color: white;
}

.accordion-button{
	background-color: #463F3A;
	color: white;
}
/* ##############################PARCOURS#################################### */
.parcours{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2%;
}


.parcours .line{
  color:#2B84A2;
  height: 90%;
  align-self: center;
  border: solid 1px;
  margin: 0px 6% 0px 1%;
  /* flex-grow: 1; */
}

.parcours .bloc1{
  /* border: solid 5px;  */
  /width: 50%;
  height: 20%; 
  flex-basis: auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.parcours .bloc2{
   /* border: solid 5px;  */
  width: 75%;
  height: 25%;
  display:flex;
  justify-content: center;
  align-self: center;
}

.date-parcours{
  color:#373741;
  /*border: solid 2px; */
  /* border-color: rgb(49, 223, 253); */
  flex-grow: 1;
  padding: 1% 1%;
  font-size: 1.1em;
}

.date-parcours p{
  font-weight: 500;
    font-weight: bold;

}

.parcours .experience{
  /* background-color: #2B84A2; */
  color:#373741;
  /* border: solid 3px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  flex-grow: 1;
  padding: 1% 2%;
}

.parcours .experience h3{
  font-size: 1.2em;
  font-weight: 100;
  font-weight: bold;

}

.parcours .experience h4{
  color: #949494;
  font-style: italic;
  font-size: 1em;
  opacity: 0.;
}


/* ###################################COMPETENCES################################################# */
.skills {
	
  display: flex; /* Affiche les compétences en mode flex */ 
  flex-direction: column;
  justify-content: flex-start; /* Répartit les éléments de manière égale avec un espace autour */
  align-items: center; /* Alignement des éléments sur le côté supérieur */
  background-color: #2B84A2; /* Couleur de fond */
  padding: 40px; /* Ajoute un espace intérieur de 20 pixels */
  margin-top: 20px; /* Ajoute une marge en haut de 20 pixels */
  min-height: 100vh;
}

.skill-title {
	/* border: solid 3px red; */
	text-align: center;
	margin-bottom: 20px;
}
.skill-title h2:after{
  display: block;
  content: "";
  border: solid 1px;
  width: 50%;
  margin: 10px auto 0;
}
.accordion{
	background-color: #2B84A2;
	border-radius: 5px;

}
.accordion-flush{
	border: solid 2px #463F3A; 
	width: 80%;
	margin-top: 20px;
}

.statistics-list {
    padding-left: 20px; /* Réduire l'indentation des listes */
}

.statistics-list ul {
    padding-left: 15px; /* Réduire l'indentation des sous-listes */
}

.statistics-list li {
    margin-bottom: 5px; /* Réduire l'espacement vertical entre les éléments de liste */
    line-height: 1.2; /* Réduire la hauteur de ligne pour une liste plus compacte */
}

.statistics-list ul li {
    margin-bottom: 3px; /* Réduire encore plus l'espacement vertical entre les sous-éléments de liste */
}

.tools-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les images */
    justify-content: center; /* Centrer les images horizontalement */
}
.tool {
    position: relative;
    display: inline-block;
}

.tool-icon {
    width: 80px; /* Ajustez la taille selon vos besoins */
    height: 60px; /* Assurez-vous que les images ont une taille uniforme */
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #2B84A2;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 12%; /* Place it above the icon */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* ##########################EXPERIENCES##################################### */

.experiences{
  /* border: solid 5px;
  border-color: aqua; */
  /* display: flex; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2%;
}

.experiences-title{
	display: flex;
	flex-direction: column;
}

.experience p {
	text-align: justify;
	font-size: 12px;
}
.bloc1{
  /* border: solid 5px; */
  width: 50%;
  height: 40%;
  overflow-wrap: break-word;
  display:flex;
  flex-direction: row;
}

.bloc2{
  /* border: solid 5px; */
  width: 50%;
  height: 35%;
  display:flex;
}

.date-experience{
  /*border: solid 2px; */
  border-color: rgb(49, 223, 253);
  flex-grow: 1;
  padding: 1% 1%;
  font-size: 1.1em;
      font-weight: bold;

}

.experiences .line{
  color:#2B84A2;
  background-color: #2B84A2;
  height: 90%;
  align-self: center;
  border: solid 1px;
  margin: 0px 6% 0px 1%;
  /* flex-grow: 1; */
}

.experience{
  background-color: #FFFFFF;
  max-width: 70%;
  padding: 1% 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  border-radius: 8px;

}

.experience h3{
  font-size: 1.2em;
  font-weight: 100;
  font-weight: bold;

}

.experience h4{
  color: #949494;
  font-style: italic;
  font-size: 1em;
  font-weight: bold;
  opacity: 0.;
}

/* ##########################PROJETS##################################### */

.projet {
    background-color: #2B84A2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px; /* Espacement intérieur de la section projet */
    min-height: 100vh; /* Hauteur minimale de la section projet à 100% de la hauteur de la vue */
    overflow-y: auto; /* Barre de défilement verticale si nécessaire */
}

.placeholder-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux placeholders de passer à la ligne si nécessaire */
    justify-content: center; /* Centre les placeholders horizontalement */
    gap: 20px; /* Espacement entre les placeholders */
    margin-top: 20px; /* Marge en haut pour séparer des titres */
}

.card-placeholder {
    background-color: #f0f0f0; /* Couleur de fond des placeholders */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 8px; /* Coins arrondis */
    padding: 10px; /* Espacement intérieur des placeholders */
    width: calc(33.33% - 20px); /* Largeur des placeholders (33.33% moins l'espacement entre eux) */
    max-width: 300px; /* Largeur maximale des placeholders */
    text-align: center; /* Centrage du contenu */
}

.card-placeholder .card-title {
    font-weight: bold; /* Texte en gras pour le titre */
    color: #333; /* Couleur du texte */
    margin-bottom: 5px; /* Marge en bas du titre */
}

.card-placeholder .card-text {
    color: #666; /* Couleur du texte du paragraphe */
}


/* ##########################CONTACT##################################### */

.contact-titre {
  margin-top: 20; /* Supprime la marge supérieure par défaut */
  text-align: center; /* Centrage du texte */
  font-size: 2rem; /* Taille de police */
  font-weight: bold; /* Gras */
}
.blocEmail {
  text-align: center; /* Ajout de la propriété pour centrer le texte */
  color: #373741; /* Couleur du texte */
  font-size: 2rem; /* Taille de police */
  font-weight: bold; /* Gras */
  margin-bottom: 30px; /* Marge inférieure de 30 pixels */
}

/* Style des liens de contact */
.contact-links {
  display: flex; /* Affichage en mode flex */
  flex-direction: row; /* Direction des éléments en colonne */
 
  margin-left: 350px;
}

/* Style d'un lien de contact individuel */
.contact-link {
  display: inline-block; /* Affichage en bloc inline */
  padding: 10px 20px; /* Espacement intérieur */
  margin: 50px; /* Marge extérieure */
  border: 2px solid #000000; /* Bordure */
  border-radius: 5px; /* Bordure arrondie */
  text-decoration: none; /* Suppression du soulignement du texte */
  color: #000000; /* Couleur du texte */
  transition: all 0.3s ease; /* Transition fluide */
}

/* Style du survol d'un lien de contact */
.contact-link:hover {
  background-color: #2B84A2; /* Couleur de fond au survol */
  color: white; /* Couleur du texte au survol */
}
 
 
/* ##########################CHEVRON##################################### */
.Divchevron {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff;
}

.Divchevron i {
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  padding-top: 5px;
}

.gg-chevron-down {
  color:#e1d8cf;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  margin-left: 49%;
  width: 220px;
  height: 220px;
  border: 2px solid transparent;
  border-radius: 100px
}

.gg-chevron-down::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border-bottom: 5px solid;
  border-right: 5px solid;
  transform: rotate(45deg);
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  bottom: 0;
}

.gg-chevron-down:hover{
  opacity: 0.6;
}
.modal-body{
	text-align: justify; /* Justifie le texte à l'intérieur du corps de l'accordéon */
    text-justify: inter-word; 
}



.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ##########################FOOTER##################################### */
.footer {
    background-color: #949494;
    color: #2B84A2;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
