*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    color:#000000;
    font-size: 90%;
}


.Page{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

p{
  font-size: 1em;
}

.lead-content {
    /* border: solid 3px;
    border-color: aliceblue; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}

.lead-content h1 {
  /* border: solid 3px; 
  border-color: aliceblue; */
  color: #2B84A2;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4em
}

.lead-content h5 {
  color: #afaba8;
  /* border: solid 3px;
    border-color: aliceblue; */
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 30px;
}

.navbar {
    background-color: #463F3A;
    color: #E9EFF1;
	font-weight: bold;
    position: fixed;
	font-size: 1.3em;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: #E9EFF1;
    text-decoration: none;
}
.nav-links a:hover {
    color: #2B84A2;
}
.logo img {
    height: 50px;
}
.items{
    /* border: solid 3px;
    border-color: pink; */
    margin-top: 2%;
    width: 65%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.item{
    border-radius: 50px;
    margin: 15px 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    height: 300px;
    width: 300px;
}

.item:hover{
    border: solid 1px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
    transition: 0.6s;
    transform: scale(1.05)
}

h2{
  /* border: solid 3px; */
  /*border-color: aliceblue; */
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.about h2::after{
  display: flex;
  content: "";
  border: solid 1px;
  transform: rotate(180deg);
  margin: 5px 42%;
}

h2::after{
  display: flex;
  content: "";
  border: solid 1px;
  transform: rotate(180deg);
  margin: 5px 25%;
}

.map{
    border-radius: 50px;
    height: 300px;
    width: 300px;
}


.about{
    display: flex;
    flex-direction: row;
    background-color: #2B84A2;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
	
}

.Moi{
  text-align: center;
  flex-grow: 1;
  color: #373741;
}


.Moi-texte{
  /* border: solid 3px;
  border-color: aliceblue; */
  color: #373741;
  width: 40%;
  margin-right: 15%;
  font-size: 1.1em;
}

.accordion-body {
    text-align: justify; /* Justifie le texte à l'intérieur du corps de l'accordéon */
    text-justify: inter-word; /* Améliore la justification en ajustant l'espacement entre les mots */
}


.accordion-item{
	background-color: #2B84A2;
	color: white;
}

.accordion-button{
	background-color: #463F3A;
	color: white;
}
/* CSS PARCOURS DIV */

.parcours{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2%;
}

.parcours h2{
}

.parcours .line{
  color:#2B84A2;
  height: 90%;
  align-self: center;
  border: solid 1px;
  margin: 0px 6% 0px 1%;
  /* flex-grow: 1; */
}

.parcours .bloc1{
  /* border: solid 5px;  */
  /width: 50%;
  height: 20%; 
  flex-basis: auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.parcours .bloc2{
   /* border: solid 5px;  */
  width: 50%;
  height: 25%;
  display:flex;
  justify-content: center;
  align-self: center;
}

.date-parcours{
  color:#373741;
  /*border: solid 2px; */
  /* border-color: rgb(49, 223, 253); */
  flex-grow: 1;
  padding: 1% 1%;
  font-size: 1.1em;
}

.date-parcours p{
  font-weight: 500;
    font-weight: bold;

}

.parcours .experience{
  /* background-color: #2B84A2; */
  color:#373741;
  /* border: solid 3px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  flex-grow: 1;
  padding: 1% 2%;
}

.parcours .experience h3{
  font-size: 1.2em;
  font-weight: 100;
  font-weight: bold;

}

.parcours .experience h4{
  color: #949494;
  font-style: italic;
  font-size: 1em;
  opacity: 0.;
}

/* FIN CSS PARCOURS DIV */
/* CSS COMPETENCES DIV */

.competences{
  position: flex;
  flex-direction: column;
  background-color: #2B84A2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .competences-titre{ */
  /* color: #373741; */
/* } */

.competences2{
  /* border: solid 10px;
  border-color: aliceblue; */
  display: flex;
  justify-content: space-around;
  height: 30%;
  width: 80%;
  margin-left: 10%;
  top: 50%;
}

.competence{
  text-align: center;
  min-width: 8%;
  color: #e1d8cf;
  background-color: #373741;
  border-radius: 5px;
}

.competence p{
  font-size: 20px;
  font-weight: bold;
  margin-top: 22%;
}

.competence2 li:hover {
  transform: scale(1.05); /* Agrandissement de 5% lors du survol */
  transition: transform 0.3s ease; /* Animation fluide de 0.3 seconde */
}
/* FIN CSS COMPETENCES DIV */

/* CSS PROJET DIV */

.projet{
  background-color: #2B84A2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2%;
  padding-top: 2%;
  height: 100vh;
}

.projet-titre{
}


/* FIN CSS PROJET DIV */
.carousel-item {
    position: absolue; /* Position relative pour les éléments du carrousel */
}

.carousel-item p {
    position: relative; /* Position absolue par rapport à l'élément parent */
    /* top: 10px; /* Distance par rapport au haut */ 
    /* left: 50%; /* Positionnement à 50% à partir de la gauche */ 
    /* transform: translateX(-50%); /* Décalage de -50% de la largeur de l'élément */ 
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent noir */
    color: white; /* Couleur du texte */
    padding: 5px 5px; /* Espacement intérieur */
    border-radius: 5px; /* Bords arrondis */
    font-size: 20px; /* Taille de police */
}


/* CSS Skills DIV */
.skills {
  display: flex; /* Affiche les compétences en mode flex */
  flex-wrap: wrap; /* Permet le retour à la ligne des éléments */
  justify-content: space-around; /* Répartit les éléments de manière égale avec un espace autour */
  align-items: flex-start; /* Alignement des éléments sur le côté supérieur */
  background-color: #2B84A2; /* Couleur de fond */
  padding: 40px; /* Ajoute un espace intérieur de 20 pixels */
  margin-top: 20px; /* Ajoute une marge en haut de 20 pixels */
  height: 100vh;
}

/* Titre des compétences */
/* Style du titre des compétences */
.skills-title {
  width: 100%; /* Largeur de 100% */
  text-align: center; /* Alignement du texte au centre */
  margin-bottom: 30px; /* Marge inférieure de 30 pixels */
}

/* Liste des compétences */
.skills-list {
  display: flex; /* Affiche la liste des compétences en mode flex */
  flex-wrap: wrap; /* Permet le retour à la ligne des éléments */
}

/* Style du titre de chaque compétence */
.skills-list h3 {
  text-align: center; /* Alignement du texte au centre */
  margin-bottom: 40px; /* Marge inférieure de 40 pixels */
  width: 100%; /* Largeur de 100% */
  color: #373741; /* Couleur du texte */
}

/* Style de la liste des compétences */
.skills-list ul {
  list-style-type: none; /* Supprime les puces de liste */
  padding: 10px; /* Ajoute un espace intérieur de 10 pixels */
}

/* Style de chaque compétence */
.skills-list li {
  background-color: #e1d8cf; /* Couleur de fond */
  color: #373741; /* Couleur du texte */
  padding: 10px; /* Ajoute un espace intérieur de 10 pixels */
  margin: 10px; /* Marge extérieure de 10 pixels */
  border-radius: 5px; /* Ajoute un arrondi aux coins */
  text-align: center; /* Alignement du texte au centre */
  width: 250px; /* Largeur de 250 pixels */
}

/* Style des compétences impaires */
.skills-list li:nth-child(odd) {
  background-color: #cfc7c1; /* Couleur de fond pour les compétences impaires */
}
.skills-list li:hover {
  transform: scale(1.05); /* Agrandissement de 5% lors du survol */
  transition: transform 0.3s ease; /* Animation fluide de 0.3 seconde */
}
/* FIN CSS Skills DIV */
/* CSS EXPERIENCES DIV */

.experiences{
  /* border: solid 5px;
  border-color: aqua; */
  display: flex;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2%;
}

.experiences-title{
  display: flex;
  flex-direction: column;
}

.bloc1{
  /* border: solid 5px; */
  width: 50%;
  height: 40%;
  overflow-wrap: break-word;
  display:flex;
  flex-direction: row;
}

.bloc2{
  /* border: solid 5px; */
  width: 50%;
  height: 35%;
  display:flex;
}

.date-experience{
  /*border: solid 2px; */
  border-color: rgb(49, 223, 253);
  flex-grow: 1;
  padding: 1% 1%;
  font-size: 1.1em;
      font-weight: bold;

}

.experiences .line{
  color:#2B84A2;
  background-color: #2B84A2;
  height: 90%;
  align-self: center;
  border: solid 1px;
  margin: 0px 6% 0px 1%;
  /* flex-grow: 1; */
}

.experience{
  background-color: #FFFFFF;
  max-width: 70%;
  padding: 1% 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  border-radius: 8px;

}

.experience h3{
  font-size: 1.2em;
  font-weight: 100;
  font-weight: bold;

}

.experience h4{
  color: #949494;
  font-style: italic;
  font-size: 1em;
  font-weight: bold;
  opacity: 0.;
}

/* FIN CSS EXPERIENCE DIV */
/* debut CSS contact DIV */


/* Style du titre "Me contacter" */
.contact-titre {
  margin-top: 20; /* Supprime la marge supérieure par défaut */
  text-align: center; /* Centrage du texte */
  font-size: 2rem; /* Taille de police */
  font-weight: bold; /* Gras */
  color: #373741; /* Couleur du texte */

}
.blocEmail {
  text-align: center; /* Ajout de la propriété pour centrer le texte */
  color: #373741; /* Couleur du texte */
  font-size: 2rem; /* Taille de police */
  font-weight: bold; /* Gras */
  margin-bottom: 30px; /* Marge inférieure de 30 pixels */
}

/* Style des liens de contact */
.contact-links {
  display: flex; /* Affichage en mode flex */
  flex-direction: row; /* Direction des éléments en colonne */
 
  margin-left: 350px;
}

/* Style d'un lien de contact individuel */
.contact-link {
  display: inline-block; /* Affichage en bloc inline */
  padding: 10px 20px; /* Espacement intérieur */
  margin: 50px; /* Marge extérieure */
  border: 2px solid #373741; /* Bordure */
  border-radius: 5px; /* Bordure arrondie */
  text-decoration: none; /* Suppression du soulignement du texte */
  color: #373741; /* Couleur du texte */
  transition: all 0.3s ease; /* Transition fluide */
}

/* Style du survol d'un lien de contact */
.contact-link:hover {
  background-color: #373741; /* Couleur de fond au survol */
  color: #e1d8cf; /* Couleur du texte au survol */
}
 





/* FIN CSS contact DIV */
/* CHEVRON CSS */

.Divchevron {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff;
}

.Divchevron i {
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  padding-top: 5px;
}

.gg-chevron-down {
  color:#e1d8cf;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  margin-left: 49%;
  width: 220px;
  height: 220px;
  border: 2px solid transparent;
  border-radius: 100px
}

.gg-chevron-down::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border-bottom: 5px solid;
  border-right: 5px solid;
  transform: rotate(45deg);
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  bottom: 0;
}

.gg-chevron-down:hover{
  opacity: 0.6;
}


.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer {
    background-color: #949494;
    color: #2B84A2;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
  
  
